In [9]:
import pandas as pd
import plotly.plotly as py
import gmaps

In [ ]:
bikes = pd.read_csv('https://query.data.world/s/elr757cyg291sgtmhtu4biqty')

In [4]:
bikes.describe()

,OBJECTID,ID,TERMINAL_NUMBER,LATITUDE,LONGITUDE,INSTALL_DATE,REMOVAL_DATE,NUMBER_OF_BIKES,NUMBER_OF_EMPTY_DOCKS,X,Y,SE_ANNO_CAD_DATA
count,4.710000e+02,471.000000,471.000000,471.000000,471.000000,0.0,0.0,471.000000,471.000000,471.000000,471.000000,0.0
mean,1.575104e+08,244.424628,31481.097665,38.914832,-77.062568,NaN,NaN,6.178344,10.687898,394575.835124,138556.362360,NaN
std,1.016987e+03,141.746801,386.679474,0.063604,0.075617,NaN,NaN,4.602270,5.736987,6552.574971,7063.947929,NaN
min,1.575096e+08,1.000000,31000.000000,38.797557,-77.368416,NaN,NaN,0.000000,1.000000,368067.039744,125534.780976,NaN
25%,1.575097e+08,124.500000,31117.500000,38.883985,-77.086274,NaN,NaN,3.000000,6.000000,392513.006425,135129.226692,NaN
50%,1.575098e+08,245.000000,31309.000000,38.900800,-77.046570,NaN,NaN,6.000000,10.000000,395959.439116,136995.157405,NaN
75%,1.575118e+08,368.500000,31856.000000,38.932575,-77.022170,NaN,NaN,8.000000,14.000000,398077.023395,140534.171340,NaN
max,1.575119e+08,488.000000,32225.000000,39.126000,-76.913563,NaN,NaN,35.000000,37.000000,407498.739678,162006.941789,NaN

In [16]:
gmaps.configure(api_key=open('API Key.txt', 'r').read())

In [ ]:
gmaps.Map()